*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/burger-pexels-valeria-boltneva-1639565.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font: 400 1.5em 'Roboto', sans-serif;
}
button:hover {
    color: #ffffff;
    text-decoration: underline solid #FBAC0E 3px;
}
.intro {
    text-align: center;
}
.rName {
    font: 5.5em 'Audiowide', cursive;
}
.rDesc {
    font: italic 400 2.5em 'Roboto', sans-serif;
}

.menu, .contact {
    margin-top: 20px;
    text-align: center;
    font: 3.5em 'Audiowide', cursive;
}
span {
    display: flex;
    justify-content: center;
}
.b-section, .s-section, .d-section, .h-title, .a-title, .p-title {
    margin: 30px auto 5px auto;
    text-align: center;
    font: 400 2em 'Roboto', sans-serif;
}
.burger, .side, .drink, .hours, .address, .phone {
    text-align: center;
    font: 300 1.5em 'Roboto', sans-serif;
}